{% extends "base.html" %}
{% block js %}
  <script src="{{url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery-migrate-1.2.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

  <script>
    $("body").ready(function(){
      $(".indexinfo").popover({title: "Info", html: true});
    });
  </script>
{% endblock %}

{% block content %}
  <div class="well">
    <h2>Indexers</h2>
    <table class="table">
        <tr>
          <th>view</th>
          <th>actions</th>
        </tr>
      {% for db in designs %}
            <tr>
              <th>{{db}}</th>
              <th></th>
            </tr>
          {% for data in designs[db] %}
            <tr>
              <td>{{data["design"]}}</td>
              <td>
                {% if data["started"] %}
                  <i class="glyphicon glyphicon-stop"></i>
                {% else %}
                  <i class="glyphicon glyphicon-play"></i>
                {% endif %}
                {% if data["info"] %}
                  <a href="#" class="indexinfo" data-content="{{data["info"]}}">
                    <i class="glyphicon glyphicon-info-sign"></i> 
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
      {% endfor %}
        </table>
  </div>
{% endblock %}
