<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script>
      $("body").ready(function(){
        $(".indexinfo").popover({title: "Info", html: true});
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Lucius <small>python lucene couchdb indexer</small></h1>
      </div>
      <div class="well">
        <h2>Indexers</h2>
        <table class="table">
            <tr>
              <th>view</th>
              <th>actions</th>
            </tr>
          {% for db in designs %}
                <tr>
                  <th>{{db}}</th>
                  <th></th>
                </tr>
              {% for data in designs[db] %}
                <tr>
                  <td>{{data["design"]}}</td>
                  <td>
                    {% if data["started"] %}
                      <i class="glyphicon glyphicon-stop"></i>
                    {% else %}
                      <i class="glyphicon glyphicon-play"></i>
                    {% endif %}
                    {% if data["info"] %}
                      <a href="#" class="indexinfo" data-content="{{data["info"]}}">
                        <i class="glyphicon glyphicon-info-sign"></i> 
                      </a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
          {% endfor %}
            </table>
      </div>
      </div>
    </div>
  </body>
</html>
