{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" media="all" href="{{url_for('static', filename='css/json.human.css')}}" />
{% endblock %}

{% block js %}
  <script src="{{url_for('static', filename='js/crel.js')}}"></script>
  <script src="{{url_for('static', filename='js/json.human.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/jquery-migrate-1.2.1.min.js')}}"></script>

  <script>
    $("body").ready(function(){
      $("form").submit(function(e){
        e.preventDefault();
        $("#output").hide();
        $("#output").html("");
        var query = $("#query").val();
        var design = $("#design").val();
        var include_docs = $("#include_docs").prop("checked");
        var search_path = "{{url_for('search', database='', view='', index='')}}";

        $.ajax(search_path+design+"?include_docs="+include_docs+"&q=" + query).done(function(data){
          $("#output").append("<h2>Results:</h2>");
          $.each(data.rows, function(id, doc) {
            var node = formath(doc);
            $("#output").append(node);
            $("#output").append("<hr>");
          });

          $("#output").show();
        });
      });
    });
  </script>
{% endblock %}

{% block content %}
  <div class="well">

    <form id="search" enctype="multipart/form-data" method="post" role="form">
      <div class="form-group">
        <p><label>Design</label>
          <select id="design">
            {% for design in designs %}
            <option value="{{design}}">{{design}}</option>
            {% endfor %}
          </select>
          <label>Include Docs?</label><input id="include_docs" type="checkbox" />
        </p>
        <p><label>Query</label><input class="form-control" id="query" name="query" type="input"></p>
        <p><button type='submit' class='btn btn-primary'>Search</button></p>
      </div>
    </form>

  </div>
  <div class="well" id="output" style="display:none">
  </div>
{% endblock %}
